

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>
    <!-- <script src="https://code.highcharts.com/css/highcharts.css"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/test2.css"/>
    <script type="text/javascript" src="static/test2.js"></script>

<body>
  <div class="container">
    <h1>doge</h1>
    <a href= "test2.html"><p>charts</p></a>
    <a href="analysis.html"><p>analysis</p></a>

  <div class="col-md-12">

    <div id="container" style="height: 400px; min-width: 310px"></div>
    <div id="container2" style="height: 400px; min-width: 310px"></div>
    <div id="container3" style="height: 400px; min-width: 310px"></div>
    <div id="container4" style="height: 400px; min-width: 310px"></div>
    <div id="container5" style="height: 400px; min-width: 310px"></div>
    <div id="container6" style="height: 400px; min-width: 310px"></div>
        <!-- <p class="highcharts-description">
            This demo shows how related charts can be synchronized. Hover
            over one chart to see the effect in the other charts as well.
            This is a technique that is commonly seen in dashboards, 
            where multiple charts are often used to visualize related
            information.
        </p> -->
        </div>
        </div>
</head>
</body>


</html>


